.mt-1 {
  margin-left: auto !important;
  margin-right: 40px;
}
.album {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
  margin-top: 30px;
}
.album__title {
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
}

.album__btn {
  display: flex;
  width: 100%;
}
.album__albums {
  margin-top: 20px;
  padding-left: 0;
}
.album__album {
  height: 500px;
  list-style: none;
  display: flex;
  width: 100%;
}

.album__album:not(:last-child) {
  border-bottom: 1px solid rgb(7, 7, 7);
}
.album__album img {
  margin: auto 70px;
  width: 300px;
  flex: 30%;
}
.album__description {
  margin: auto;
  text-align: center;
  flex: 70%;
}
.album__description h2 {
  font-size: 2.2rem;
  font-weight: lighter;
}
.album__description p {
  font-size: 1.1rem;
  margin-top: 30px;
}
.album__description button {
  margin-top: 25px;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: white;
  font-weight: lighter;
  font-size: 1rem;
  border: 1px solid rgb(64, 64, 64);
}

@media all and (max-width: 768px) {
  .album {
    width: 90%;
  }
  .album__album {
    height: 300px;
  }
  .album__album img {
    margin: auto 30px;
    width: 200px;
    flex: 30%;
  }
  .album__description h2 {
    font-size: 1.5rem;
  }
  .album__description p {
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .album__description button {
    margin-top: 0px;
  }
}
