.mt-1 {
  margin-left: auto !important;
  margin-right: 40px;
}

.album {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
  margin-top: 30px;
}

.album__title {
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
}

.album__btn {
  display: flex;
  width: 100%;
}

.album__albums {
  margin-top: 20px;
  padding-left: 0;
  margin-bottom: 0;
}

.album__album {
  height: 500px;
  list-style: none;
  display: flex;
  width: 100%;
}

.album__album:not(:last-child) {
  border-bottom: 1px solid rgb(7, 7, 7);
}

.album__album img {
  margin: auto 70px;
  width: 300px;
  flex: 30%;
}

.album__description {
  margin: auto;
  text-align: center;
  flex: 70%;
}

.album__description h2 {
  font-size: 2.2rem;
  font-weight: lighter;
}
.album__description p {
  font-size: 1.1rem;
  margin-top: 30px;
}

.album__description button {
  margin-top: 25px;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: white;
  font-weight: lighter;
  font-size: 1rem;
  border: 1px solid rgb(64, 64, 64);
  color: black;
}

.album__description button:hover{
  color: white;
  background-color: gray;
  border: 1px solid gray;

}

@media all and (max-width: 768px) {
  .mt-1 {
    margin-right: 20px;
  }

  .album {
    width: 90%;
  }

  .album__albums {
    margin-top: 0;
  }

  .album__album {
    height: 250px;
  }

  .album__album img {
    margin: auto 20px;
    width: 140px;
    flex: 30%;
  }

  .album__description h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .album__description p {
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
  .album__description button {
    margin-top: 0px;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 10px;
  }
}
