.albumDetail {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}

.albumDetail__goBack {
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0 40px;
  width: 25px;
  display: block;
}

.albumDetail__goBack p {
  height: 25px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.245);
  font-size: 1.2rem;
  color: rgb(23, 23, 23);
}

.albumDetail__goBack p:hover {
  background-color: rgba(0, 0, 0, 0.489);
  color: rgb(23, 23, 23);
}

.albumDetail h3 {
  margin: 20px 0;
}

.albumDetail__main {
  display: flex;
  margin-bottom: 30px;
}

.albumDetail__main img {
  margin-left: 40px;
  height: 350px;
  width: 350px;
}

.albumDetail__mainDetail {
  margin: 60px 0 0 80px;
}

.albumDetail__mainDetail h2 {
  font-size: 2.5rem;
}

.albumDetail__mainDetail > div > p {
  font-size: 1.2rem;
  margin: 10px 0 0 5px;
}

.albumDetail__hr {
  margin-top: 30px;
}

.albumDetail__icons {
  display: flex;
}

.albumDetail__icon img {
  width: 40px;
  height: 40px;
  margin: 15px;
  cursor: pointer;
}

.albumDetail__icon p {
  width: 70px;
  line-height: 15px;
  text-align: center;
  font-size: 0.9rem;
}

.albumDetail__contents {
  margin-top: 40px;
}

.albumDetail__contents h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.albumDetail__tracks {
  list-style: none;
  width: 90%;
  margin: auto;
  padding: 0;
}

.albumDetail__trackTitle {
  font-size: 1rem;
}

.albumDetail__videos {
  overflow-x: scroll;
  display: flex;
  gap: 8px;
}

.albumDetail__videos::-webkit-scrollbar {
  width: 10px;
}
.albumDetail__videos::-webkit-scrollbar-thumb {
  background-color: #636770;
  border-radius: 20px;
  background-clip: padding-box;
  border: 5px solid rgb(250, 250, 250);
}
.albumDetail__videos::-webkit-scrollbar-track {
  background-color: rgb(250, 250, 250);
}

@media (max-width: 1000px) {
  .albumDetail {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1000px;
  }

  .albumDetail__mainDetail h2 {
    font-size: 2rem;
  }

  .albumDetail__main {
    flex-direction: column;
  }

  .albumDetail__main > img {
    width: 60%;
    height: 60%;
    margin: auto;
  }

  .albumDetail__mainDetail {
    margin: 40px 0 0 20px;
  }

  .albumDetail__mainDetail hr {
    display: none;
  }

  .albumDetail__icons {
    display: flex;
  }
}
