.home {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 30px;
}

.home__title {
  cursor: pointer;
  text-align: center;
}

.home h1 {
  font-size: 1.8rem;
  margin-bottom: 25px;
}

.home__members {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  gap: 18px;
}

.home__memImg {
  width: 140px;
  border: 1px solid rgb(64, 64, 64);
  padding: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.home__memTitle {
  text-align: center;
  margin-top: 5px;
  font-size: 1rem;
}

@media (max-width: 1023px) {
  .home {
    width: 90%;
  }
  .home__memImg {
    width: 110px;
  }
}

@media all and (max-width: 768px) {
  .home__members {
    max-width: 400px;
    flex-wrap: wrap;
    margin: auto;
  }
  .home__memImg {
    width: 100px;
  }
}
