.shop {
  margin-bottom: 50px;
}
.shop__top img {
  width: 100%;
  /* margin: 0 !important; */
  padding: 0;
}
.shop__main {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  /* margin-top: 500px; */
}
.shop__contents {
  margin-top: 40px;
  margin-bottom: 70px;
}
.shop__contents h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.shop__contents h3 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
}
.shop_all {
  width: 100%;
  margin: 0 auto;
}
.shop_all h3 {
  margin-left: 20px;
  margin-bottom: 30px;
}
.shop_allItems {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  list-style: none;
  font-size: 1rem;
  gap: 40px;
  margin: 0 auto;
  justify-content: space-between;
}
.shop_allItems img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.shop_allItems img:hover {
  opacity: 0.5;
}
.shop__itemPrice {
  margin-left: 10px;
  font-weight: 600;
  font-size: 0.8rem;
}
.shop__itemTitle {
  margin: 10px 0 5px 10px;
  width: 190px;
  font-size: 0.9rem;
}

.shop_allItems::after {
  content: "";
  width: 100%;
  flex: auto;
}
.modal__addCart {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-bottom: 60px;
}

.modal__closeBtn {
  margin-left: auto;
  cursor: pointer;
  margin-right: 30px;
}
.modal__addCart img {
  border: 1px solid rgb(110, 110, 110);
  border-radius: 10px;
  margin-left: 30px;
}
.modal__addCartMain {
  display: flex;
  justify-content: space-around;
}
.modal__addCartContent {
  width: 80%;
  margin-top: 10px;
  text-align: center;
}
.modal__addCartContent > p {
  font-size: 1.2rem;
}

.modal__addCartHr {
  display: none;
}
.modal__addQuantity {
  padding: 10px;
  /* width: 180px; */
}
.modal__addQuantity span {
  border: 1px solid rgb(110, 110, 110);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  border-radius: 5px;
  padding: 6px 20px;
  margin: 0 5px;
}

.modal__addQuantity button {
  border: 1px solid rgb(110, 110, 110);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 35px;
  margin: 0 5px;
  padding: 2px 0;
}
.modal__totalPrice p {
  margin-top: 5px;
  font-size: 1.2rem;
}

.modal__addCartBtn {
  border: 1px solid rgb(61, 87, 164);
  background-color: rgb(61, 87, 164);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 5px 15px;
  color: aliceblue;
}
.modal__addCartBtn:hover {
  border: 1px solid rgb(140, 140, 140);
  background-color: rgb(140, 140, 140);
  color: aliceblue;
}
.modal__alert {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 20px;
}
@media all and (max-width: 1000px) {
  .shop__main {
    min-width: 85vw;
  }
  .shop_allItems img {
    width: 130px;
    height: 130px;
  }
  .shop_allItems {
    gap: 10px;
    width: 90%;
  }
  .shop__itemTitle {
    margin: 10px 0 5px 10px;
    width: 140px;
  }
  .modal__addCart {
    display: flex;
    flex-direction: column;
  }
  .modal__addCartMain {
    flex-direction: column;
    align-items: center;
  }
  .modal__addCart img {
    border: 1px solid rgb(110, 110, 110);
    border-radius: 10px;
    margin-left: 0;
  }
  .modal__addCartHr {
    display: block;
  }
}
