.home__description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home__div {
  margin-top: 30px;
}

.home__div > div {
  overflow-x: scroll;
  display: flex;
  gap: 10px;
}

.home__div h2 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.home__div > div::-webkit-scrollbar {
  width: 10px;
}
.home__div > div::-webkit-scrollbar-thumb {
  background-color: #636770;
  border-radius: 20px;
  background-clip: padding-box;
  border: 5px solid rgb(250, 250, 250);
}
.home__div > div::-webkit-scrollbar-track {
  background-color: rgb(250, 250, 250);
}

.home__mainText {
  font-size: 1rem;
  margin: 10px auto;
}

.home__albums {
  height: 180px;
}

.home__album img {
  border-radius: 3px;
  width: 140px;
}

.home__album p {
  margin-top: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.home__youtubes {
  height: 210px;
}

.home__youtube iframe {
  border-radius: 3px;
  width: 320px;
  height: 180px;
}

.home__imgs {
  gap: 5px;
  height: 300px;
}
.home__img {
  width: auto;
  object-fit: cover;
}
